certifi==2020.12.5
chardet==4.0.0
dataclasses==0.6
future==0.18.2
idna==2.10
jsonpatch==1.32
jsonpointer==2.1
kaldi-io==0.9.4
numpy
Pillow==8.1.2
pyzmq==22.0.3
requests==2.25.1
scipy
six==1.15.0
torch==1.7.0+cpu
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.8.1+cpu
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.4
visdom==0.1.8.9
websocket-client==0.58.0
